[push]
    default = simple
[diff]
    tool = vimdiff
[color]
    ui = always
    branch = always
    diff = always
    interactive = always
    status = always
    grep = always
    pager = true
    decorate = always
    showbranch = always
[color "status"]
    added = green
    changed = red bold
    untracked = magenta bold
[color "branch"]
    remote = yellow
[alias]
    wdiff = diff --color-words
    wshow = show --color-words
    lg = log --oneline --decorate --color --graph
    ll = branch -av
    pool = pull
    poosh = push
    df = diff --ws-error-highlight=all
[merge]
    conflictstyle = diff3
[mergetool]
    prompt = false
[user]
    email = per.hellstrom@knightec.se
    name = Per Hellström
[core]
    editor = nvim
[pull]
    rebase = false
